@font-face {
	font-family: 'Conv_ProximaNova-Black';
	src: url('../fonts/ProximaNova-Black.eot');
	src: local(''), url('../fonts/ProximaNova-Black.woff') format('woff'), url('../fonts/ProximaNova-Black.ttf') format('truetype'), url('../fonts/ProximaNova-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: local(''), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_ProximaNova-Light';
	src: url('../fonts/ProximaNova-Light.eot');
	src: local(''), url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf') format('truetype'), url('../fonts/ProximaNova-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
img {
	border:none;
	outline:none;
	max-width:100%;
}
a {
	text-decoration:none;
	outline:none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}
ul {
	list-style-type:none;
}

body{font-family: 'Conv_ProximaNova-Light'; background:#fff8e9 url(../images/background.jpg) left top no-repeat; background-size:100% auto; /*webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/}

.top-sec{ width:100%; margin-top:56px; overflow:hidden;}	

.top-right{ float:right; margin-right:3%;}

.top-right ul{ margin:0; padding:0;}

.top-right ul li{ width:30px; display:inline-block; vertical-align:top; margin:0 5px;}

.top-right ul li img{ width:100%;}

.top-left{ width:504px; margin-left:3%; float:left;}

.left-content-box-one{ margin-top:146px; width:100%; margin-bottom:65px;}

.left-content-box-one h1{ color:#fff; font-size:45px; font-family: 'Conv_ProximaNova-Bold'; text-transform:uppercase; position:relative;}

.left-content-box-one h1:after{ position:absolute; left:-7%; top:-150%; background:url(../images/dash-line.png) no-repeat; width:302px; height:2px; content:'';}

.left-content-box-one h6{ font-size:18px; font-family: 'Conv_ProximaNova-Bold'; color:#ff0000;}

.left-content-box-one p{ font-size:16px; line-height:25px; color:#fff;}

.mobile-content-box-one{ display:none;}

.left-content-box-two{ width:100%;}

.left-content-box-two h2{ color:#fff; font-size:45px; font-family: 'Conv_ProximaNova-Bold'; text-transform:uppercase; margin-bottom:12px;}

.left-content-box-two h2 span{ display:block;}

.form-row{ margin-bottom:12px; width:100%;}

.form-input {
  background: #000030 none repeat scroll 0 0;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  height: 41px;
  margin-right: 10px;
  display:inline-block;
  vertical-align:top;
  padding: 0 10px;
  width: 30%;
}

.form-submit{ background:#ff0000; color:#fff; width:168px; height:41px; text-align:center; border:none; font-size:22px; cursor:pointer; text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);  -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;}

.bottom-sec{ width:100%; margin:320px 0 30px;} 

.bottom-left-box{margin-left:3%; float:left; width:300px;}

.bottom-left-box h3{ font-size:32px; color:#fff; padding-bottom:10px;/* border-bottom:1px solid #fff;*/ text-transform:uppercase; margin-bottom:22px; font-family: 'Conv_ProximaNova-Bold'; position:relative;}

.bottom-left-box h3:after{ position:absolute; right:-70%; top:-150%; background:url(../images/dash-line.png) no-repeat; width:302px; height:2px; content:'';}

.bottom-left-box h4{ font-size:16px; font-family: 'Conv_ProximaNova-Bold'; text-transform:uppercase; color:#fff; margin-bottom:8px;}

.bottom-left-box p{ font-size:14px; line-height:22px; color:#fff;}

.contact-sec{ width:100%; border-top:1px solid #fff; padding-top:15px; margin-top:15px; margin-bottom:15px;}

.contact-sec p strong{font-family: 'Conv_ProximaNova-Bold';}

.bottom-right-box{margin-right:3%; float:right; width:50%; margin-top: 220px;}

.bottom-right-box h4{ text-transform:uppercase; font-size:28px; color:#000000; margin-bottom:8px; font-family: 'Conv_ProximaNova-Bold';}

.bottom-right-box p{ margin-bottom:15px; font-size:16px; line-height:26px;}

.map-sec{ padding:0 3%; width:100%;}

.map-sec h4{ display:none;}

.map-sec p{ display:none;}

.map-sec iframe{ width:100%; display:block; height:600px; border:none;}

.footer{ padding:50px 3%; width:100%; text-align:right;}

.footer ul{ text-align:right; margin:0; padding:0;}

.footer ul li{ display:inline-block; vertical-align:top; padding:0 10px; background:url(../images/foot-divider.png) left center no-repeat;}

.footer ul li:first-child{ background:none;}

.footer ul li a{ color:#4d4b47;}

.footer-left{ display:none;}


@media only screen and (min-width:768px) and (max-width:1024px){

body{ background-size:100% auto; background:#fff8e9 url(../images/tab-bg.jpg) left top no-repeat; background-size:100% auto;}

.top-sec{ margin-top:50px;}

.top-left{ width:90%; margin:0 auto; float:none;}

.top-right{ display:none;}

.logo{ width:200px;}

.left-content-box-one{ display:none;}

.left-content-box-two{ margin-top:600px; width:400px;}

.left-content-box-two h2{ text-align:left; font-size:35px; }

.left-content-box-two h2 span{ display:block; color:#fff;}

.left-content-box-one h6{ font-size:22px; margin-top:10px;}

.form-submit{ float:right;}

.mobile-content-box-one{ display:block; margin-bottom:30px; float:right; width:66%; margin-top:50px;}

.mobile-content-box-one h1{ color:#000030; font-size:36px;}

.mobile-content-box-one h6{ padding-bottom:15px; border-bottom:1px solid #000; margin-bottom:15px;}

.mobile-content-box-one p{ color:#000;}

.mobile-content-box-one h1::after{ display:none;}

.bottom-sec{ margin:0;}

.bottom-left-box{ display:none;}

.bottom-right-box{ width:100%; float:none; padding:0 3%; margin:0;}

.footer {
  padding:5% 4%;
  text-align: left;
}

.footer-left{ display:block; vertical-align:top;}

.footer-left p{ line-height:22px; font-size:14px;}

.footer-left p strong{font-family: 'Conv_ProximaNova-Bold';}

.footer ul{ margin-top:10px;}

.footer ul li{ margin: 0 -2px 0 0;
    padding: 0 7px;}

.form-input{ width:100%; margin:0 0 10px;}
}

@media screen and (max-width: 1720px){
	.bottom-right-box{
		margin-top: 98px;
	}
}

@media screen and (max-width: 1520px){
	.bottom-right-box{
		margin-top: 0px;
	}
}

@media screen and (max-width: 1368px){
	.bottom-sec{
		margin: 196px 0 30px;
	}
}

@media screen and (max-width: 1130px){
	.bottom-sec{
		margin: 120px 0 30px;
	}
}

@media screen and (max-width: 1024px){
	.bottom-right-box{
		width: 89%;
		float: right;
	}
}

@media screen and (max-width: 950px){
	.bottom-right-box{
		width: 97%;
	}
}
@media screen and (max-width: 850px){
	.bottom-right-box{
		width: 100%;
	}
}

@media only screen and (min-width:480px) and (max-width:767px){

body{ background-size:100% auto; background:#fff8e9 url(../images/tab-bg.jpg) left top no-repeat; background-size:100% auto;}

.top-sec{ margin-top:50px;}

.top-right{ display:none;}

.top-left{ width:80%; margin:0 auto; float:none;}

.logo{ width:200px;}

.left-content-box-one{ display:none;}

.left-content-box-two{ margin-top:442px;}

.left-content-box-two h2{ text-align:center; font-size:35px; }

.left-content-box-two h2 span{ display:inline; color:#000030;}

.left-content-box-one h6{ font-size:22px; margin-top:10px;}

.form-submit{ float:right;}

.mobile-content-box-one{ display:block; margin-bottom:30px;}

.mobile-content-box-one h1{ color:#000030; font-size:36px;}

.mobile-content-box-one h6{ padding-bottom:15px; border-bottom:1px solid #000; margin-bottom:15px;}

.mobile-content-box-one p{ color:#000;}

.mobile-content-box-one h1::after{ display:none;}

.bottom-sec{ margin:0;}

.bottom-left-box{ display:none;}

.bottom-right-box{ width:100%;  float:none;}

.bot-right-part-one{ background:#000030; color:#fff; width:100%; padding:11% 8%; margin-bottom:40px;}

.bot-right-part-one h4{ color:#fff; font-family: 'Conv_ProximaNova-Bold'; padding-bottom:15px; border-bottom:1px solid #fff; margin-bottom:15px;}

.bot-right-part-one span{ display:block;}

.bot-right-part-one p{ color:#fff; margin:0;}

.bot-right-part-two{ width:100%; padding:11% 8%;}

.bottom-right-box h4{ font-family: 'Conv_ProximaNova-Bold'; padding-bottom:15px; border-bottom:1px solid #fff; margin-bottom:12px;}

.bot-right-part-three{ display:none;}

.map-sec{width:100%; padding:11% 8%; background:#000030;}

.map-sec h4{ display:block; font-size:30px; margin-bottom:5px; font-family: 'Conv_ProximaNova-Bold'; color:#fff;}

.map-sec p{ display:block; font-size:19px; color:#fff;}

.map-sec iframe{ height:300px; margin-top:20px;}

.footer{ text-align:left; padding-bottom:40px; padding:10% 4%;}

.footer-left{ display:block; vertical-align:top;}

.footer-left p{ line-height:22px; font-size:14px;}

.footer-left p strong{font-family: 'Conv_ProximaNova-Bold';}

.footer ul{ margin-top:10px;}

.footer ul li{ margin: 0 -2px 0 0;
    padding: 0 7px;}


.form-input{ width:100%; margin:0 0 10px;}
}

@media screen and (max-width: 768px){
	.mobile-content-box-one{
		width: 64%;
    margin-left: 220px;
	}
}

@media screen and (max-width: 690px){
	.mobile-content-box-one{
		width: 64%;
    margin-left: 164px;
	}
	.left-content-box-two {
    margin-top: 396px;
	}
}

@media screen and (max-width: 574px){
	.mobile-content-box-one{
		width: 77%;
    margin-left: 72px;
	}
	.left-content-box-two {
    margin-top: 302px;
	}
}

@media only screen and (min-width: 10px) and (max-width: 479px){

body{ background-size:100% auto; background:#fff8e9 url(../images/mobile-bg.jpg) left top no-repeat; background-size:100% auto;}

.top-sec{ margin-top:50px;}

.top-right{ display:none;}

.top-left{ width:85%; margin:0 auto; float:none;}

.logo{ width:200px;}

.left-content-box-one{ display:none;}

.left-content-box-two{ margin-top:270px;}

.left-content-box-two h2{ text-align:center; font-size:35px;}

.left-content-box-two h2 span{ display:inline; color:#000030;}

.left-content-box-one h6{ font-size:22px; margin-top:10px;}

.form-submit{ float:right;}

.mobile-content-box-one{ display:block; margin-bottom:30px;}

.mobile-content-box-one h1{ color:#000030;}

.mobile-content-box-one h6{ padding-bottom:15px; border-bottom:1px solid #000; margin-bottom:15px;}

.mobile-content-box-one p{ color:#000;}

.mobile-content-box-one h1::after{ display:none;}

.bottom-sec{ margin:0;}

.bottom-left-box{ display:none;}

.bottom-right-box{ width:100%;  float:none;}

.bot-right-part-one{ background:#000030; color:#fff; width:100%; padding:11% 8%; margin-bottom:40px;}

.bot-right-part-one h4{ color:#fff; font-family: 'Conv_ProximaNova-Bold'; padding-bottom:15px; border-bottom:1px solid #fff; margin-bottom:15px;}

.bot-right-part-one span{ display:block;}

.bot-right-part-one p{ color:#fff; margin:0;}

.bot-right-part-two{ width:100%; padding:11% 8%;}

.bottom-right-box h4{ font-family: 'Conv_ProximaNova-Bold'; padding-bottom:15px; border-bottom:1px solid #fff; margin-bottom:12px;}

.bot-right-part-three{ display:none;}

.map-sec{width:100%; padding:11% 8%; background:#000030;}

.map-sec h4{ display:block; font-size:30px; margin-bottom:5px; font-family: 'Conv_ProximaNova-Bold'; color:#fff;}

.map-sec p{ display:block; font-size:19px; color:#fff;}

.map-sec iframe{ height:300px; margin-top:20px;}

.footer{ text-align:left; padding-bottom:40px; padding:10% 4%;}

.footer-left{ display:block; vertical-align:top;}

.footer-left p{ line-height:22px; font-size:14px;}

.footer-left p strong{font-family: 'Conv_ProximaNova-Bold';}

.footer ul{ margin-top:10px;}

.footer ul li{ margin: 0 -2px 0 0;
    padding: 0 7px;}

.form-input{ width:100%; margin:0 0 10px;}

@media screen and (max-width: 414px){
	.left-content-box-two {
    margin-top: 336px;
	}
}
@media screen and (max-width: 400px){
	.mobile-content-box-one{
		width: 100%;
    margin-left: 0px;
	}
}
@media screen and (max-width: 375px){
	.left-content-box-two {
    margin-top: 290px;
	}
}
@media screen and (max-width: 360px){
	.left-content-box-two {
    margin-top: 268px;
	}
}
}
@media screen and (max-width: 320px){
	.left-content-box-two {
    margin-top: 218px;
	}
}